<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "shortcodes" %>
  <%= stylesheet_link_tag "dark" %>
  <%= stylesheet_link_tag "jcarousel" %>

  <!-- / Stylesheets -->

  <!-- Javascripts -->
  <%= javascript_include_tag "jquery-1.7.2.min" %>
  <%= javascript_include_tag "jquery.jcarousel.min" %>
  <%= javascript_include_tag "jquery.easing.1.3" %>
  <%= javascript_include_tag "hoverIntent" %>
  <%= javascript_include_tag "superfish" %>
  <%= javascript_include_tag "jquery.preloadify.min" %>
  <%= javascript_include_tag "sys_custom" %>

  <!-- / Javascripts -->

  <%= stylesheet_link_tag "carousel-slider" %>

</head>
<body>
<div class="body_overlay"></div>
<div id="boxed" class="fullwidth">
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <!-- /- #header -->
    <div class="clear"></div>
    <!-- body content -->
    <%= yield %>
    <!-- body content -->

    <div class="copyright">
      <div class="inner">
        <p> &copy; Copyright 2012 - 2013 <a href="https://www.Glamfu.com">www.Glamfu.com</a> All Rights Reserved</p>
      </div>
    </div>
    <!-- /- .copyright -->
  </div>
  <!-- /- #wrapper -->
</div>
<%= javascript_include_tag "sys_custom.js" %>
</body>
</html>